.header > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header a {
    display: flex;
}

.nav {
    ul {
        overflow: auto;
        margin: 0;
        li {
            list-style: none;
            float: left;
            padding: 0 1rem;
            &:hover a {
                color: $primary;
            }
        }
    }
}
