.card {
    text-align: left;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    padding-top: 2rem;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    h2 {
      color: darken($primary, 10%);
    }
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    min-height: 48px;
    color: $primary;
  }
  
  .card p {
    margin: 0;
  }