.title {
  padding: 8rem 2rem;
    background: #f9fafc;
    h2 {
      font-weight: 700;
      font-size: 4.8rem;
      text-align: center;
      margin: auto;
      max-width: 1040px;
    }
  }
  

.pageWrapper {
    max-width: 1040px;
    margin: 8rem auto 0 auto;
    padding: 0 2rem;
}