.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
}

.searchWrapper {
  padding: 6rem 0;
  background: #f9fafc;
  h2 {
    font-weight: 700;
    font-size: 3.8rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
}
