.title {
  padding: 5rem 0rem;
    background: #f9fafc;
    h2 {
      font-weight: 700;
      font-size: 3.8rem;
    }
  }
  
.pageWrapper {
    margin-top: 4rem;
    a { 
      color: $primary;
    }
}