.title {
  padding: 6rem 0rem;
    background: #f9fafc;
    h2 {
      font-weight: 700;
      font-size: 3.8rem;
      margin: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  
.pageWrapper {
    margin-top: 4rem;
    a { 
      color: $primary;
      &:hover {
        color: darken($primary, 10%);
      }
    }
}